<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="FileAppender"
                     fileName="logs/app.log"
                     filePattern="logs/backup/app-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <SMTP name="MailAppender"
              subject="CRITICAL ERROR: Flower Shop"
              to="boruzkyi.dima@gmail.com"
              from="boruzkyi.dima@gmail.com"
              smtpHost="smtp.gmail.com"
              smtpPort="465"
              smtpProtocol="smtps"
              smtpUsername="boruzkyi.dima@gmail.com"
              smtpPassword="fwpd nkgs ndur xkqp"
              bufferSize="1">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </SMTP>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="MailAppender"/>
        </Root>
    </Loggers>
</Configuration>